.App {
	text-align: center;
	height: 100%;
	width: 100%;
	display: grid;
	grid-template-columns: 1fr 4fr;
	column-gap: 15px;
	justify-content: space-between;
}


.chatlist {
	border-right: 1px solid #c2c2c2;
}

.chat {
	justify-self: center;
	text-align: center;
	height: 100%;
	width: 95%;
	display: grid;
	grid-template-columns: 1fr;
	align-content: space-between;
}